@use '../../assets/styles/colors';

.headerWrapper {
background-image: url('../../assets/images/pattern-bg.png');
display: flex;
flex-direction: column;
align-items: center;
height: 230px;

@media screen and (max-width: 500px){
  height: 300px;
}
}

.title {
  width: 282px;
font-size: 32px;
line-height: 30px;
letter-spacing: -0.285714px;
color: colors.$white-color;

@media screen and (max-width: 500px){
  width: 100%;
  
  font-size: 26px;
  text-align: center;
  margin: 22px 0px;

}
}

.inputWrapper {
  display: flex;

  @media screen and (max-width: 500px){
    width: 100%;
    justify-content: center;

  }
}

.inputStyle {
  width: 400px;
  height: 55px;
  border-radius: 15px 0px 0px 15px;
  border: none;
  padding: 0px 15px;

  @media screen and (max-width: 500px){
    width: 70%;
  }
}

input:focus-visible {
  outline: 0px;
}

.searchBtn {
  width: 55px;
height: 55px;
background: colors.$black-color;
border-radius: 0px 15px 15px 0px;
border: none;
cursor: pointer;
}

.addressDetails {
  width: 970px;
  height: 95px;
background: colors.$white-color;
box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);
border-radius: 15px;
display: flex;
padding: 20px;
margin: -63px auto 0px;
justify-content: space-evenly;
z-index: 1;

@media screen and (max-width: 768px){
  width: 100%;
  padding: 20px 0px;
}

@media screen and (max-width: 500px){
  width: 92%;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: -40% auto 0px;
    text-align: center;
}

}

.addressTitle {
  font-weight: bold;
font-size: 12px;
line-height: 14px;
letter-spacing: 1.75px;
text-transform: uppercase;
color: colors.$primary-color;
mix-blend-mode: normal;
opacity: 0.5;

@media screen and (max-width: 500px){
  font-size: 10px;
}
}

.addressSubTitle {
  font-weight: 500;
font-size: 26px;
line-height: 30px;
letter-spacing: -0.232143px;
color: colors.$primary-color;
margin: 0px;

@media screen and (max-width: 768px){
  font-size: 20px;
}
}

.verticalLine {
  width: 1px;
height: 75px;
background: colors.$black-color;
mix-blend-mode: normal;
opacity: 0.15;
}

.hideMobile {
  @media screen and (max-width: 500px) {
    display: none;
  }
}
